@model Webbangiay.Models.Users

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tentk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tentk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mk)
        </dt>

        <dd>
            *****************
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diachi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loaitk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loaitk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avt)
        </dd>
        <dt>
            <img src="@Url.Content(Model.Avt)" style="height:200px; width:200px; margin:10px" />
        </dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Matk.Replace(" ","") }) |
    @Html.ActionLink("Back to List", "Index")
</p>
